<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" href="/public/favicon.ico" sizes="70x70" type="image/ico">
    <link rel='stylesheet' href='/public/css/style.css' />
  </head>
  <body>
    {{{body}}}
<body>

<div id="container">
    {{log this}}
    {{> header}}
    {{#if (emptyObject messages)}}
        {{> flashmessage}}
    {{/if}}


    {{{body}}}
</div>
</body>

{{#if logged}}
    <script>
        let ele = document.getElementById('logout-button');
        if (ele) {
            ele.onclick = (even) => {
                fetch('/users/logout', {
                    method: "POST"
                })
                        .then((data) => {
                            location.replace('/');
                        })
            }
        }
    </script>
{{/if}}
