<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="../js/fetch.js"></script>
    <script defer src="../js/validation.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href="../css/style.css">
</head>

<body>

<h1>317 Website</h1>
<h2>Index</h2>

<nav>

    <a href="./index.html">Index</a>
    <a href="./login.html">Login</a>
    <a href="./registration.html">Registration</a>
    <a href="./postimage.html">Post Image</a>
    <a href="./viewpost.html">View Post</a>


</nav>





<p>Welcome to my page!</p>

<footer>
    <p>Author: Juan Segura Rico - SF State</p>
</footer>

</body>
</html>

