<!DOCTYPE html>
<html lang="en">
<head>
  <script src="../js/validation.js"></script>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel = "stylesheet" href="../css/style.css">
</head>
<title>Login</title>
<body>

<h1>317 Website</h1>
<h2>Login</h2>

<nav>


  <a href="index.hbs">Index</a>
  <a href="login.hbs">Login</a>
  <a href="registration.hbs">Registration</a>
  <a href="postimage.hbs">Post Image</a>
  <a href="viewpost.hbs">View Post</a>

</nav>
&nbsp;
<form>
  <div class="Login">
    <label>Username : </label>
    <label>
      <input type="text" placeholder="Enter Username" name="username" required>
    </label>
    <br>
    <label>Password : </label>
    <label>
      <input type="password" placeholder="Enter Password" name="password" required>
    </label>
    <button type="submit">Login</button>
  </div>
</form>
<footer>
  <p>Author: Juan Segura Rico - SF State</p>
</footer>
</body>
</html>