<!DOCTYPE html>
<html lang="en">
<head>

    <script src="../js/validation.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href="../css/style.css">
</head>
<body>

<h1>317 Website</h1>
<h2>Post Image</h2>

<nav>


    <a href="./index.html">Index</a>
    <a href="./login.html">Login</a>
    <a href="./registration.html">Registration</a>
    <a href="./postimage.html">Post Image</a>
    <a href="./viewpost.html">View Post</a>

    <br>
    <p>Create a Post here!</p>

    <label>Enter a Post Title: </label>
    <label>
        <input type="text" placeholder="Enter Title" name="title" required>
    </label>
    <br>
    <label>Enter a Description: </label>
    <label>
        <input type="text" placeholder="Enter a Description" name="description" required>
    </label>
    <br>
    <label>Enter an Image or Image URL: </label>
    <label>
        <input type="text" placeholder="Enter Image" name="image" required>
    </label>
    <br>
    <p>Accept our  <a href="">Acceptable Use Policy</a>.</p>

    <button type="submit">Post</button>

</nav>
<footer>
    <p>Author: Juan Segura Rico - SF State</p>
</footer>
</body>
</html>