<!DOCTYPE html>
<html lang="en">
<head>
  <script src="../js/validation.js"></script>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel = "stylesheet" href="../css/style.css">
</head>
<body>

<h1>317 Website</h1>
<h2>View Post</h2>

<nav>


  <a href="index.hbs">Index</a>
  <a href="login.hbs">Login</a>
  <a href="registration.hbs">Registration</a>
  <a href="postimage.hbs">Post Image</a>
  <a href="viewpost.hbs">View Post</a>

</nav>

<p>Picture of Fred</p>
<p>Fred Warner</p>
<p>September 20, 2022</p>
<img src="https://media.gettyimages.com/photos/fred-warner-of-the-san-francisco-49ers-stands-on-the-field-during-picture-id1272529704?s=612x612" alt="San Francisco 49ers #54">

</body>

</html>